#u9714
{
	border-style: none;
	border-color: transparent;
	background-color: #4C7034;
	position: relative;
}

#u9714:active
{
	background-color: #4C7034;
}

#u9712
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u7480,#u9714_align_to_page,#u9174,#u9165,#u9166,#u9480,#u9482
{
	position: relative;
}

#u9174_clip,#u9480_clip,#u9482_clip
{
	overflow: hidden;
}

#u9721-19
{
	text-align: right;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

